header img {
  width: 30px;
  height: 30px;
}

body {
  background-color:#0077b6;
}

footer {
  position: absolute;
  bottom: 0; 
  width: 100%;
  
  padding:0;
  margin-bottom:1px;
}

input { 
  margin: 0px; 
  padding: 0px; 
  width: 100%; 
  outline: none; 
  height: 30px; 
  border-radius: 5px; 
  border: none;
} 
  
button { 
  position: absolute; 

  border-radius: 5px; 
  right: 0; 
  z-index: 2; 
  border: none; 
  top: 1px; 
  height: 30px; 
  cursor: pointer; 
  background-color: #caf0f8;
  color: #03045e; 
  transform: translateX(-2px); 
  width: 50px;
  
}

header {
  background-color: #caf0f8;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
  

