header img {
  width: 30px;
  height: 30px;
}

body {
  background-color:#0077b6;
}

footer {
  bottom: 0; 
  width: 100%;
  position: sticky;
  padding:0;
  margin-bottom:1px;
}

input { 
  margin: 0px; 
  padding: 0px; 
  width: 100%; 
  outline: none; 
  height: 30px; 
  border-radius: 5px; 
  border: none;
} 
  
button { 
  position: absolute; 

  border-radius: 5px; 
  right: 0; 
  z-index: 2; 
  border: none; 
  top: 1px; 
  height: 30px; 
  cursor: pointer; 
  background-color: #caf0f8;
  color: #03045e; 
  transform: translateX(-2px); 
  width: 50px;
  
}

header {
  background-color: #caf0f8;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}


.message-recieve {
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #A8DDFD;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
}

.message-send {
  position: relative;
  margin-bottom: 10px;
  margin-left: calc(100% - 240px);
  padding: 10px;
  background-color: #f8e896;
  width: 200px;
  height: 50px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;
}

.message-content {
  padding: 0;
  margin: 0;
}




.messages {
  position:relative;
  max-height: 100%;
  flex:1;
  overflow-y: scroll;
  background-color: pink;
  display: flex;
  flex-flow: column-reverse; 

}











