@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  box-sizing: border-box;
}
html, #root{
  height:100%;
  width:100%;
  display:flex;
}
body{
  font-family : "Poppins" sans-serif;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  color:white;
}
.main{
    display:flex;
    flex:1;
    width:100%;
    flex-direction:column;
    justify-content:space-between;
}
header{
    height:60px;
    width:100%;
    background:#f7e3c0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    
}


header img {
    height: 100%;
    margin: 0 5px;
}

.footer{
    border-top:1px solid white;
    background:rgba(255,255,255,0.3);
    display:flex;
    position:relative;
}
.text-input{
    flex:1;
    border-radius:12px;
    border:1px solid white;
    background:black;
    margin:3px 4px;
    outline:none;
    color:white;
    font-size:12px;
    height:24px;
    padding-left:8px;
}
.send-button{
    position:absolute;
    top:5px;
    right:6px;
    border-radius:10px;
    outline:none;
    border:1px solid white;
    height:20px;
    width:20px;
    font-size:10px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}

.msg{
  width:100%;
}
.msg-bubble{
  color:white;
  background: black;
  border-radius:6px;
  border:1px solid grey;
  padding:4px 10px;
  display: inline-block;
  margin:5px;
}

.messages{
  overflow-y:scroll;
  flex:1;
  display: flex;
  flex-direction: column-reverse;
}


.edit-mode {
  background-color: white;
  border-radius: 15pt;
  height: 30px;
  text-align: left;
  pointer-events: all;}

.view-user {
  background-color: #f7e3c0;
  border: none;
  text-align: right;
  pointer-events: none;
}

#tiddy-togg {
  width: 20px;
  height: 20px;
  border: none;

}

#add-username {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  padding-right: 10px;
}